.container {
  background-color: $headerBackgroundColor;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  h1 {
    font-size: 60px;
    font-weight: lighter;
    margin: 12px 0 20px 0;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0;
  }
}
