.container {
  background-color: #ab2c2c;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 50px;
    font-weight: lighter;
    margin: 12px 0;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 17px;
    font-weight: normal;
    margin: 5px 0;
  }
}
